.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 30px;
    font-weight: bold;
}

.header .header__column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .header__column  >* {
    padding-right: 20px;   
}

.header .header__column :first-child{
    padding-left: 10px;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    padding-bottom: 10px;
    background-color: #ffffff;
    height: 80px;
    box-shadow: 0 3px 21px rgba(50, 50, 93, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}